footer
    display: flex
    padding: 100px 48px  0px 48px
    align-items: center
    z-index: 100
    position: absolute
    bottom: 40px
    width: 100%
    box-sizing: border-box
    & span
        color: #808080
        display: block
        & a
            color: $primary
            text-decoration: none