body
    background-color: #ffffff
    overflow-x: hidden
.top-decoration
    position: absolute
    right: 0
    top: 0
    height: 100vh
    max-height: 100vh
.bottom-decoration
    position: absolute
    left: 0
    bottom: 0
.main
    display: flex
    position: relative
    z-index: 10
    & .page-counter
        padding-top: 50px
        & p
            margin: 45px
            color: #505050
            font-weight: bold
            font-size: 1rem
            position: relative
            width: 100px
            cursor: pointer
            &:active
                color: darken($primary,10)
            &.active
                color: $primary
                &:before
                    transition: width 100ms
                    width: 24px
            &:before
                content: ''
                position: absolute
                background-color: $primary
                right: 0
                top: 0
                bottom: 0
                margin: auto 0
                width: 0px
                height: 3px
                transition: width 100ms
    & .design-text
            font-size: 10rem
            color: #f6f5fc
            @extend .styled-font
            font-weight: bold
            position: absolute
            left: 118px
            top: -1.2rem
            z-index: -1
    & .title
        max-width: 50vw
        font-weight: bold
        font-size: 3.3rem
        margin-bottom: 0
        margin-top: 130px
        white-space: nowrap
        @extend .styled-font
    & .subtitle
        max-width: 40vw
        color: #707070
    & .mockup
        position: relative
        width: 100%
        & svg
            position: absolute
            top: -50px
            right: 17vw
            z-index: -1 
            height: 80vh
@media (max-width: 750px)
    body,html
        overflow-x: hidden
    header
        input
            display: none
    .main
        flex-direction: column-reverse
        & button
            display: block
            margin: 0 auto
        & p
            max-width: 100% !important
            text-align: center
            &.title
                    font-size: 2.2rem
                    white-space: pre-wrap
            &.subtitle
                    font-size: 1.2rem
        & .mockup svg
            top: unset !important
            right: unset !important
        & .page-counter
            display: flex
            position: absolute
            top: -38px
            left: 0
            max-width: 100%
            & p
                &:before
                    bottom: -10px
                    top: unset
                    right: 0px
                    left: 0px 
                    margin: 0 auto
    footer
        bottom: 0 !important
        overflow: scroll
        max-width: 100%
        position: relative !important
        #menu
            min-width: 32px
            min-height: 32px
        .menu
            &.open
                width: 100%
                height: 100%
                transform: translate(0,0) !important
                border-radius: 0 !important
                & span
                    display: none
    .top-decoration
        max-height: unset !important
        height: unset !important
        & svg *
            max-width: 100%
            overflow: hidden
    .bottom-decoration
        bottom: unset !important
        & svg *
            max-width: 100%
            overflow: hidden